.about-information {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f7;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 70%;
    max-width: 480px;
}

.solving-problems{
    display: flex;
}

h3 {
    font-weight: 600;
    color: #1d1d1f;
}

.about-information p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.animated-text {
    font-size: 16px;
    font-weight: 400;
    color: #6e6e73; /* Grey text */
}

.animated-text strong {
    font-weight: 600;
    color: #1d1d1f; /* Black text */
}

.programming-icon::after{
    content: ' 💻';
    display: block;
}



